
*{
    /* border: 1px solid black; */
    /* text-align: center; */
    box-sizing: border-box;
}
body {
    background-image: url("./assets/weatherbackgroundimage.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    -webkit-text-stroke: .5px rgb(55, 22, 164);
    color: rgb(245, 245, 249);
    font-size: 18px;
}

/* Grid layout for page */
header {
    display: grid;
    grid-template-columns: .5fr 1fr 1fr .5fr .5fr;
    align-items: center;
    background-color: rgba(18, 48, 198, 0.582);
    color: white;
    -webkit-text-stroke: .5px black;
    
}
div.header {
    grid-column: 2/5;
    /* background-color: teal;
    color: white; */
    text-align: center;
}

main {
    display: grid;
    /* grid-template-columns: repeat(5,1fr); */
    grid-template-columns: .5fr .5fr 1fr .5fr .5fr;
    grid-template-rows: fit-content;
    /* height: 100vh; */
    margin-top: 50px;
    gap: 30px 10px ;
}


div.defaultdisplay{
    grid-column: 2/4;
    grid-row: 1;
    background-color: lightgray;
    border: 1px solid teal;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
aside.list{
    grid-column: 4;
    grid-row: 1;
}
p.indent{
    text-indent: 30px
}


article.getshidden {
    grid-column: 3/4;
    grid-row: 1;
    display: grid;
    justify-content: center;
    background-color: rgba(10, 3, 85, 0.47);
    text-align: center;
}

div.todaysWeather {
    grid-column: 3;
    
}
aside.getshidden {
    grid-column: 4;
    grid-row: 1 /5;
}
aside.converter{
    grid-column: 2;
    grid-row: 1 / 5;
    display: grid;
    grid-template-rows: .5fr 1fr;
    background-color: rgba(0, 14, 84, 0.634);
}
aside.upcomingStats {
    grid-column: 3/4;
    grid-row: 2;
    display:grid;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
    grid-template-rows: fit-content;
}
aside.upcomingStats article {
    border: 1px solid teal;
}

#todayStats {
    background-color: rgba(12, 126, 226, 0.649);

}
#tomorrowStats {
    background-color: rgba(226, 128, 9, 0.667);

}
#dayAfterStats{
    background-color: rgba(72, 18, 198, 0.586);

}
.upcomingStats h3, .upcomingStats p, .todaysWeather h2, .todaysWeather p {
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Create generic class to hide elements on page */
.hidden {
    display:none;
}

.greybackground{
    /* background-color: lightgray; */
    border: 1px solid teal;
}

/* Css for Additional features  */

section.randomfacts {
    
}

.clock {
    margin: auto;
    font-weight: bold;
    font-size: 18px;
}

.date {
    margin: auto;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}