
*{
    /* border: 1px solid black; */
    /* text-align: center; */
    box-sizing: border-box;
}

/* Grid layout for page */
header {
    display: grid;
    grid-template-columns: .5fr 1fr 1fr .5fr .5fr;
    
}
div.header {
    grid-column: 2/5;
    background-color: teal;
    color: white;
    text-align: center;
}

main {
    display: grid;
    /* grid-template-columns: repeat(5,1fr); */
    grid-template-columns: .5fr .5fr 1fr .5fr .5fr;
    grid-template-rows: fit-content;
    /* height: 100vh; */
    margin-top: 50px;
    gap: 30px 10px ;
}


div.defaultdisplay{
    grid-column: 2/4;
    grid-row: 1;
    background-color: lightgray;
    border: 1px solid teal;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
aside.list{
    grid-column: 4;
    grid-row: 1;
}
p.indent{
    text-indent: 30px
}


article.getshidden {
    grid-column: 3/4;
    grid-row: 1;
    display: grid;
    justify-content: center;
    
    
}

div.todaysWeather {
    grid-column: 3;
    
}
aside.getshidden {
    grid-column: 4;
    grid-row: 1 /5;
}
form.converter{
    grid-column: 2;
    grid-row: 1 / 5;
}
aside.upcomingStats {
    grid-column: 3/4;
    grid-row: 2;
    display:grid;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
}
.upcomingStats h3, .upcomingStats p, .todaysWeather h2, .todaysWeather p {
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Create generic class to hide elements on page */
.hidden {
    display:none;
}

.greybackground{
    background-color: lightgray;
    border: 1px solid teal;
}