header {
  display: grid;
  background: darkcyan;
  justify-content: center;
  grid-template-rows: repeat(2, 1fr);
  margin: 75px;
}

.Days {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  margin: 20px;
  width: 50%;
  background-color: grey;
}

.history {
  display: grid;
}

.Conversion {
  display: grid;
  grid-template-columns: 200px 200px;
}
