* header {
    grid-template-rows: 4fr;
    background-color: skyblue;
    text-align: center;
    border: 1fr;
    padding: 20px;
}

.title {
    display: grid;
    text-align: center;
    border: 1px solid black;
    background-color: lightgray;
    padding: 50px;
}

.prospective {
    display: grid;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid black;
    /* margin: 15px; */
}

div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 15px;
    padding: 15px;
    column-gap: 25px;
    border: 1px solid black;
}

.prevSearch {
    border: 1px solid black;
}

a:visited {
    color: blue;
}

a:active {
    color: red;
}