.container{
    display: grid;
    height: 600px;
    width: 600px;
    margin-left: 300px;
    grid-template-columns: 2f 1f 4f 1f 2f;
    grid-template-rows: 1fr 4fr 2fr ;
   
    grid-template-areas: 
    ".. header header header .."
    ".. tempConversions weatherInfo prevSearches  .."
    "..  todayTemp tomorrowTemp dayAfterTemp  ..";
}

header {
    background-color: darkcyan;
    width: 40vw ;
    height: 10vh;
    color: white;
    grid-area: "header";
   
}

.weatherInfo{
    background-color: lightgray;
    border: 1px solid darkcyan 
}

.tempConversions{
    grid-area: "tempConversions";
}

/* .weatherImage {
    grid-area: "weatherImage"; 
}*/
.prevSearches {
    grid-area: "prevSearches";
}
.weatherInfo {
    grid-area: "weatherInfo";
}
.todayTemp {
    grid-area: "todayTemp";
}
.tomorrowTemp {
    grid-area: "tomorrowTemp";
}
.dayAfterTemp {
    grid-area: "dayAfterTemp";
}